#content {
	#inner-content {		
		.post, .page {
			padding-left: 3em;
			padding-right: 3em;
			box-shadow: 0px 0px 4px 0 @light-grey;
		}
	}
}



.home-category {
	clear: both;
	padding: 10px;
	box-shadow: 0px 0px 4px 0 @light-grey;
	max-width: 48%;
	width: auto;
}


header nav {
	//text-align: center;
	position: relative;
	line-height: 0.5;
	ul {
		line-height: 1.2;
		display: inline-block;
		text-align: justify;
	}
}


.gallery-masonry {
	margin: 0 auto;
	position: relative;

	.gallery-item {
		float: left;
		background-color: grey;
		//border: solid 5px black;
		margin-bottom: 10px;
	}
}

.category-page {
	.article-list {
		text-align: center;
		margin: 0 auto;
		article {
			text-align: left;
			display: inline-block;
			width: 48%;
		}
	}
}

header {
	.edit-entry-link {
		opacity: 0;
	}

	&:hover, &focus {
		.edit-entry-link {
			opacity: 1;
		}
	}
}


/*********************
07. NAVIGATION STYLES
*********************/
#topbar {
	.pullmenu {
		display: none;
	}
	nav {
		display: block;
		margin-right: @searchform-width + 20px;
	}
}



.nav, nav {
	li {
		max-width: 200px;
		width: auto;
		height: @header-navbar-height;
		&:hover, &:focus {
			background-color: @kmc2-blue;
			color: white;
			border: none;
		}
		ul.sub-menu {
			background-color: @kmc2-orange;
			z-index: 4;
			position: absolute;
			display: none;
			li {
				border-top: 1px solid white;
				a {
					&:hover, &:focus {
						background-color: @kmc2-blue;
						color: white;
					}
				}
				&:last-child {
					a {
						border-bottom: 0;
					}
				}
			}
			// highlight sub-menu current page
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				border-bottom: 0;
				background-color: black;
			}
		}

		// showing sub-menus
		&:hover ul {
			top: auto;
			display: block;
		}
	} // end .menu ul li 

	// highlight current page
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		border-bottom: solid 8px @kmc2-orange;//white;
	}  // end current highlighters
} // end .nav




