/******************************************************************
Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/


//
// IMPORTING STYLES
//

// import normalize
@import "_normalize.less";

// import mixins
@import "_mixins.less";

// styles in base.less
@import "_base.less";
@import "_flexslider.less";


@media (min-width: 768px) {
	// import grid
	@import "_grid.less";
    @import "_width_768px.less";
}

@media (min-width: 1024px) {
    @import "_width_1024px.less";
} // end of media query


// Slideshow height
@media (min-device-height: 480px){
	#home-slideshow {height: 380px;}
}
@media (min-device-height: 600px){
	#home-slideshow {height: 400px;}
}
@media (min-device-height: 680px){
	#home-slideshow {height: 480px;}
}
@media (min-device-height: 900px){
	#home-slideshow {height: 700px;}
}
@media (min-device-height: 1024px){
	#home-slideshow {height: 824px;}
}
@media (min-device-height: 1080px){
	#home-slideshow {height: 880px;}
}

@media print {	
	@import "_print.less";
} // end of media query

